.divbtn{
  
   height: 55px;
   width: 55px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  
}

.outerdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}